<head>
	<style>
	h1 {text-align: center;}
	h2 {text-align: center;}
	h1.capitalize
	</style>



</head>


<b><h1>Site Map</h1></b>

<h2> <a href= "/about/index"> About </a> </h2>
<h2> <a href= "/welcome/index"> Welcome </a> </h2>
<p>Find me in app/views/sitemap/index.html.erb</p>
