<head>
	<style>
		img.displayed {display: block; 
			margin-left: auto; 
			margin-right: auto; }
		img {border: 12px solid orangered;}
		
		h1 {text-align: center;}
		



	</style>
</head>
<h1>  ABOUT </h1>

<p>
	I'm a simple dude, looking to make a name for myself here in the ATL. I love everything that's going on in this town these days. There are a lot of people making it a better place and I hope I can do the same. I use my photography to help with this. It also provides me the means to make it to a lot of shows in the area. I'm able to fill a lot of my free time by combining two of my passions: Music and Photography. I also like to get out into the woods as often as possible. I get to use my photography there too. I try to go backpacking as often as possible. On good years I make it out about once a month. Although this class and my other obligations make it more like once every 4 months.
</p> 

<img clas= "displayed" src="http://www.ramshackleglam.com/wp-content/uploads/2011/06/Screen-shot-2011-06-17-at-2.33.45-PM.png" />
	
